* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
}

body {
	padding: 0;
	position: relative;
	min-height: 100vh;
	width: auto;
}

.App {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.nav {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 10rem;
	background-color: #292f31;
	color: white;
	display: flex;
	align-items: center;

	ul {
		margin: 2rem;
		width: 50%;
		list-style: none;
		display: flex;
		justify-content: space-evenly;
	}

	.nav-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 1rem;
		cursor: pointer;
		transition: transform 0.25s ease-in-out;
	}

	.nav-item:hover {
		transform: scale(1.2);
	}

	a {
		display: inline-block;
		color: #f2ecf6;
		text-decoration: none;
		text-align: center;
	}

	a:hover {
		text-decoration: underline;
	}

	.nav-icon {
		font-size: 2rem;
	}

	.nav-text {
		margin-top: 0.5rem;
		font-size: 1.5rem;
	}

	.user-links-dropdown {
		border-radius: 1rem;
		background-color: #292f31;
		box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #333;
		position: absolute;
		z-index: 2000;
		top: 100%;
		left: -150%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-self: center;
		align-items: center;
		width: 10rem;
	}

	.dropdown-link {
		position: relative;
		padding: 1rem;
		transition: background-color 0.3s ease;
		border-radius: 1rem;
		width: 90%;
		box-sizing: border-box;
	}

	.dropdown-link:hover {
		background-color: #353b3d;
	}
}

img {
	display: block;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center bottom;
}

.title {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 50%;
	width: 100%;
	text-align: center;
	font-size: 10rem;
	-webkit-text-fill-color: #f2ecf6;
	-webkit-text-stroke: 3px #333;
	text-shadow: 5px 1px 1px black;
}

.footer {
	width: 100%;
	height: 3rem;
	margin: 0;
	bottom: 0;
	background-color: #292f31;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.form {
	padding: 5rem 1rem;
	margin: 5rem auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	max-width: 30rem;
	margin: 1rem auto;
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"] {
		background: rgba(255, 255, 255, 0.1);
		border: none;
		border: 5rem;
		font-size: 16px;
		font-style: inherit;
		height: auto;
		margin: 0;
		outline: 0;
		padding: 1rem;
		width: 100%;
		background-color: #e8eeef;
		color: #8a97a0;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		margin-bottom: 3rem;
	}

	.submit-button {
		cursor: pointer;
		width: 100%;
		padding: 1rem;
		color: #fff;
		background-color: #ffb74c;
		font-size: 18px;
		text-align: center;
		border: none;
		border-radius: 5rem;
		border-width: 1px 1px 3px;
		box-shadow: 0.1rem 0.1rem 0.1rem #333;
	}

	.submit-button:active {
		cursor: pointer;
		width: 100%;
		padding: 1rem;
		color: #fff;
		background-color: #ffb74c;
		font-size: 18px;
		text-align: center;
		border: none;
		border-radius: 5rem;
		border-width: 1px 1px 3px;
		box-shadow: 0rem;
	}
}

h1 {
	margin: 2rem;
	text-align: center;
}

/* Calendar */

label {
	margin-right: 1rem;
	font: inherit;
	color: #8fbcb5;
	font-weight: bold;
	font-size: 1rem;
}

.search {
	padding: .5rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	font-size: 1rem;
	margin: .5rem 0;
	border: none
}

.search:focus{
	outline: none; /* Remove the default focus outline */
	border-color: #dae9e6; /* Change border color on focus */
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.search::placeholder {
	color: #b4d3ce; /* Placeholder text color */
  }
  

select {
		background: rgba(255, 255, 255, 0.1);
		border: none;
		border-radius: 5px;
		font-size: 1rem;
		font-style: inherit;
		height: auto;
		margin: .5rem .1rem;
		outline: 0;
		padding: .5rem;
		background-color: #e8eeef;
		color: #449084;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	}

	option:hover {
		background-color: #dae9e6
	}
 
 .react-calendar {
	width: 350px;
	max-width: 150%;  
	background-color: #69a69d;
	box-shadow: .1rem .1rem .1rem .1rem #a0a096;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2em;
	border-radius: 5px;
} 

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 

.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
	background-color:#fff;
} 
 
.react-calendar button:enabled:hover {
	cursor: pointer;
	background-color: #69a69d;
} 

.react-calendar__navigation {
	display: flex;
	height: 5rem;
	margin-bottom: 1em;
} 

.react-calendar__navigation button {
	min-width: 44px;
	background-color: #69a69d;
	font-size: 1.5rem;
} 

.react-calendar__navigation button:disabled {
	display: none;
} 

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #69a69d;
} 

.react-calendar__month-view__weekdays {
	text-align: center;
	font: inherit;
	font-size: 1rem;
	font-weight: bold;
} 

.react-calendar__month-view__weekdays__weekday {
	padding: em;
} 

.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font: inherit;
	font-size: 0.75em;
	font-weight: bold;
} 

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
	color: #8fbcb5;
} 

.react-calendar__tile {
	max-width: 100%;
	padding: 1rem;
	background: none;
	text-align: center;
	font: inherit;
	font-size: 1em;
} 

.react-calendar__tile:disabled {
	background-color: #fff;
	color: #cdcdcd;
} 

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
	color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #e6e6e6;
} 

.react-calendar__tile--now,
.react-calendar__tile--hasActive,
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus 
.react-calendar__tile--active {
	background-color: #b4d3ce;
	/* color: white; */
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar--selectRange .react-calendar__tile--hover {
	background: #b4d3ce;
}
 
@media (max-width: 1000px) {
	.title {
		font-size: 5rem;
		text-shadow: 2px 0.5px 0.5px black;
	}

	.nav-text {
		display: none;
	}

	.nav-item {
		font-size: 0.5rem;
	}
	img {
		height: 40rem;
	}

	.nav-icon:active {
		transform: scale(1.2);
	}
}
