@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
	margin: 0;

	box-sizing: border-box;
}

:root {
	height: 100vh;
	margin: 0;
	overflow-x: hidden;

	/* Highlands Color Palette */
	--highlands--dark: #449084;
	--highlands--secondary: #69a69d;
	--highlands--medium: #8fbcb5;
	--highlands--light: #b4d3ce;
	--highlands--ultra-light: #dae9e6;

	/* Sunset Color Palette */
	--sunset-orange: #ffb74c;
	--light-pink: #f2ecf6;

	/* Fonts */
	--protest-revolution: "Protest Revolution", sans-serif;
}

body {
	padding: 0;
	position: relative;
	min-height: 100vh;
	width: auto;
}

.App {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.nav {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 10rem;
	background-color: #292f31;
	color: white;
	display: flex;
	align-items: center;

	ul {
		margin: 2rem;
		width: 50%;
		list-style: none;
		display: flex;
		justify-content: space-evenly;
	}

	.nav-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 1rem;
		cursor: pointer;
		transition: transform 0.25s ease-in-out;
	}

	.nav-item:hover {
		transform: scale(1.2);
	}

	a {
		display: inline-block;
		color: #f2ecf6;
		text-decoration: none;
		text-align: center;
	}

	a:hover {
		text-decoration: underline;
	}

	.nav-icon {
		font-size: 2rem;
	}

	.nav-text {
		margin-top: 0.5rem;
		font-size: 1.5rem;
	}

	.user-links-dropdown {
		border-radius: 1rem;
		background-color: #292f31;
		box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #333;
		position: absolute;
		z-index: 2000;
		top: 100%;
		left: -150%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-self: center;
		align-items: center;
		width: 10rem;
	}

	.dropdown-link {
		position: relative;
		padding: 1rem;
		transition: background-color 0.3s ease;
		border-radius: 1rem;
		width: 90%;
		box-sizing: border-box;
	}

	.dropdown-link:hover {
		background-color: #353b3d;
	}
}

img {
	display: block;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center bottom;
}

.title {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 50%;
	width: 100%;
	text-align: center;
	font-size: 10rem;
	-webkit-text-fill-color: #f2ecf6;
	-webkit-text-stroke: 3px #333;
	text-shadow: 5px 1px 1px black;
}

.footer {
	width: 100%;
	height: 3rem;
	margin: 0;
	bottom: 0;
	background-color: #292f31;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.form {
	padding: 5rem 1rem;
	margin: 5rem auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

form {
	max-width: 30rem;
	margin: 1rem auto;
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"] {
		background: rgba(255, 255, 255, 0.1);
		border: none;
		border: 5rem;
		font-size: 16px;
		font-style: inherit;
		height: auto;
		margin: 0;
		outline: 0;
		padding: 1rem;
		width: 100%;
		background-color: #e8eeef;
		color: #8a97a0;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		margin-bottom: 3rem;
	}

	.schedule {
		padding: 5rem 1rem;
		margin: 5rem auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.submit-button {
		cursor: pointer;
		width: 100%;
		padding: 1rem;
		color: #fff;
		background-color: #ffb74c;
		font-size: 18px;
		text-align: center;
		border: none;
		border-radius: 5rem;
		border-width: 1px 1px 3px;
		box-shadow: 0.1rem 0.1rem 0.1rem #333;
	}

	.submit-button:active {
		cursor: pointer;
		width: 100%;
		padding: 1rem;
		color: #fff;
		background-color: #ffb74c;
		font-size: 18px;
		text-align: center;
		border: none;
		border-radius: 5rem;
		border-width: 1px 1px 3px;
		box-shadow: 0rem;
	}
}

h1 {
	margin: 2rem;
	text-align: center;
}

/* Calendar */

.schedule-form label {
	margin-right: 1rem;
	font: inherit;
	color: var(--highlands--dark);
	font-weight: bold;
	font-size: 1.2rem;
}

.search {
	padding: 0.5rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	font-size: 1rem;
	margin: 0.5rem 0;
	border: none;
}

.search:focus {
	outline: none;
	border-color: #dae9e6;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.search::placeholder {
	color: #b4d3ce;
}

select {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-style: inherit;
	height: auto;
	margin: 0.5rem 0.1rem;
	outline: 0;
	padding: 0.5rem;
	background-color: #fff;
	color: #449084;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

option:hover {
	background-color: #dae9e6;
}

.schedule {
	margin: 15rem auto;
	margin-bottom: 0rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 10rem;
}

.react-calendar {
	width: 350px;
	max-width: 150%;
	background-color: #69a69d;
	box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #a0a096;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2em;
	border-radius: 5px;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
	background-color: #fff;
}

.react-calendar button:enabled:hover {
	cursor: pointer;
	background-color: #69a69d;
}

.react-calendar__navigation {
	display: flex;
	height: 5rem;
	margin-bottom: 1em;
}

.react-calendar__navigation button {
	min-width: 44px;
	background-color: #69a69d;
	font-size: 1.5rem;
}

.react-calendar__navigation button:disabled {
	display: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #69a69d;
}

.react-calendar__month-view__weekdays {
	text-align: center;
	font: inherit;
	font-size: 1rem;
	font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
	padding: em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font: inherit;
	font-size: 0.75em;
	font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
	color: #8fbcb5;
}

.react-calendar__tile {
	max-width: 100%;
	padding: 1rem;
	background: none;
	text-align: center;
	font: inherit;
	font-size: 1em;
}

.react-calendar__tile:disabled {
	background-color: #fff;
	color: #cdcdcd;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
	color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #b4d3ce !important;
}

.react-calendar__tile--now,
.react-calendar__tile--hasActive,
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus .react-calendar__tile--active {
	background-color: #b4d3ce;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar--selectRange .react-calendar__tile--hover {
	background: #b4d3ce;
}

/* Checkbox */

.checkbox-container {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.checkbox-wrapper {
	width: 50%;
}

.checkbox-wrapper-24 .checkbox {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.checkbox-wrapper-24 {
	display: grid;
	grid-auto-flow: row;
}

.checkbox-wrapper-24 label {
	font-family: "Poppins";
	display: inline-block;
	color: #333;
	cursor: pointer;
	position: relative;
	font-size: 1rem;
}

.checkbox-wrapper-24 label span {
	display: inline-block;
	position: relative;
	background-color: transparent;
	width: 25px;
	height: 25px;
	transform-origin: center;
	color: #449084;
	border: 2px solid #8fbcb5;
	border-radius: 50%;
	vertical-align: middle;
	margin: 0.2rem;
	transition: background-color 150ms 200ms,
		transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.checkbox-wrapper-24 label span:before {
	content: "";
	width: 0px;
	height: 2px;
	border-radius: 2px;
	position: absolute;
	transform: rotate(45deg);
	top: 13px;
	left: 9px;
	transition: width 50ms ease 50ms;
	transform-origin: 0% 0%;
}

.checkbox-wrapper-24 label span:after {
	content: "";
	width: 0;
	height: 2px;
	border-radius: 2px;
	background: #449084;
	position: absolute;
	transform: rotate(305deg);
	top: 16px;
	left: 10px;
	transition: width 50ms ease;
	transform-origin: 0% 0%;
}

.checkbox-wrapper-24 label:hover span:before {
	width: 5px;
	transition: width 100ms ease;
}
.checkbox-wrapper-24 label:hover span:after {
	width: 10px;
	transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="checkbox"] {
	display: none;
}

.checkbox-wrapper-24 input[type="checkbox"]:checked + label span {
	background-color: #449084;
	border-color: #449084;
	transform: scale(1.25);
}

.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:after {
	width: 10px;
	background: #fff;
	transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:before {
	width: 5px;
	background: #fff;
	transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span {
	background-color: #69a69d;
	border-color: #69a69d;
	transform: scale(1.25);
}

.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:after {
	width: 10px;
	background: #fff;
	transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:before {
	width: 5px;
	background: #fff;
	transition: width 150ms ease 100ms;
}

.yoga-class-grid {
	background-color: var(--highlands--ultra-light);
	width: 60%;
	margin: 5rem auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	box-shadow: 0.1rem 0rem 0.1rem 0.1rem #a0a096;
}

.selected-date {
	padding: 1.5rem 0;
	text-align: center;
	font-size: 1.5rem;
	color: #333;
	border-bottom: .1rem dotted #333;
	background-color: var(--highlands--light);
	width: 100%;
}

.yoga-class {
	padding: 1rem;
	font-size: 1.2rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	
	h3 {
		font-family: "Poppins", sans-serif;
	}
}

.book-class {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	button {
		font-size: 1.1rem;
		font-family: "Poppins", sans-serif;
		padding: 0.5rem;
		background-color: hsl(195, 7%, 22%, 100%);
		color: white;
		border-radius: 5px;
		box-shadow: 0.1rem 0.1rem 0.1rem #333;
	}
	button:hover {
		cursor: pointer;
		background-color: hsl(195, 7%, 22%, 90%);
	}
	button:active {
		box-shadow: 0;
	}
}

.no-classes {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	margin: 5rem auto;
	font-size: 1.2rem;
}

.line {
	width: 100%;
	border-bottom: 1px solid black;
}

@media (max-width: 1000px) {
	.title {
		font-size: 5rem;
		text-shadow: 2px 0.5px 0.5px black;
	}

	.nav-text {
		display: none;
	}

	.nav-item {
		font-size: 0.5rem;
	}
	img {
		height: 40rem;
	}

	.nav-icon:active {
		transform: scale(1.2);
	}
	.schedule {
		gap: 0;
	}
	.yoga-class-grid {
		margin-top: 1rem;
		width: 90%;
	}
	.yoga-class {
		justify-content: center;
		text-align: center;
		gap: 1rem;
		h3 {
			margin: auto;
			width: 100%;
		}
	}
}
